version: '{build}'

os: 
  - Visual Studio 2017

clone_depth: 10

environment:
  matrix:
  - language_standard: "14"
  - language_standard: "17"

init: []

install:
 - git submodule update --init --recursive

build_script:
  - cmake . -G"Visual Studio 15 2017 Win64" -DFX_GLTF_INSTALL=OFF -DTEST_LanguageStandard="%language_standard%"
  - cmake --build . --config Release

test_script:
  - ctest --output-on-failure -C Release -V
