Checks: '*,-abseil-*,-fuchsia-*,-google-*,-llvm-*,-readability-magic-numbers,-readability-named-parameter,-readability-uppercase-literal-suffix,-hicpp-use-auto,-hicpp-uppercase-literal-suffix,-cppcoreguidelines-avoid-magic-numbers,-modernize-use-auto,-modernize-use-trailing-return-type,-misc-non-private-member-variables-in-classes,-cppcoreguidelines-non-private-member-variables-in-classes'
HeaderFilterRegex: .*