Language: Cpp
IndentWidth: 4
UseTab: Never

AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignTrailingComments: false
AlignOperands: false
AlwaysBreakTemplateDeclarations: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

BinPackArguments: false
BinPackParameters: true

BreakBeforeBraces: Allman
BreakConstructorInitializersBeforeComma: true

ColumnLimit: 0
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: false

IndentCaseLabels: false

MaxEmptyLinesToKeep: 1
NamespaceIndentation: Inner
FixNamespaceComments: true

DerivePointerAlignment: false
PointerAlignment: Middle

SortIncludes: true
SpaceBeforeParens: ControlStatements
Standard: Cpp11
